<div>
    @foreach(var name in (ViewData["allMarketId"] as List<string>))
    {
        <h2>@name</h2>
        <table style="width:100%">
            <tr>
                <th>Marknad</th>
                <th>Valuta</th>
                <th>Pris</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
            </tr>
        
        @foreach(var product in (ViewData[name] as List<ProductRow>))
        {
            
            <tr>
                <th>@product.MarketId</th>
                <th>@product.CurrencyCode</th>
                <th>@product.UnitPrice</th>
                <th>@product.ValidFrom </th>
                
                @if(product.ValidUntil == "NULL") {
                    <th>-</th>
                } else {
                    <th>@product.ValidUntil</th>
                }
                
            </tr>    
        }
     
        </table>
        <hr>
    }
</div>